/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[15].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[15].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    background-color: #F5F6F8;
    display: flex;
    flex-wrap: wrap;
}
a, p, p1, h1, li{
    margin: 0;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
}

main{
    display: flex;
    flex: 1 1;
    height:100vh;
    padding: clamp(5px, 1.4vw, 50px);
    padding-right: clamp(10px, 4vw, 100px);
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[15].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[15].oneOf[10].use[3]!./app/src/components/courses/design/photoshop/PhotoshopContent.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************/
.block-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: min-content;
    font-size: clamp(10px, 0.9vw, 50px);
}
.sorting-block{
    display: flex;
    gap: clamp(5px, 1vw, 50px);
}
.rating-block{
    display: flex;
    align-items: center;
    gap: clamp(5px, 0.5vw, 50px);
}
.rating-block > *{
    transition: all 0.3s ease;
}

.rating-block:hover{
    text-shadow: 0.8px 0 0;
    color: #7653FC;
    
}
.sorting-block img{
    width: clamp(10px, 1vw, 100px);
    height: min-content;
    fill: currentColor;
}
