@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    background-color: #F5F6F8;
    display: flex;
    flex-wrap: wrap;
}
a, p, p1, h1, li, span, ::placeholder{
    margin: 0;
    text-decoration: none;
    font-synthesis: none;
    font-family: "Noto Sans", system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main{
    display: flex;
    flex: 1;
    min-height: 100vh;
    padding: clamp(5px, 1.4vw, 100px);
    padding-right: clamp(10px, 4vw, 100px);
}