@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    background-color: #F5F6F8;
    display: flex;
    flex-wrap: wrap;
}
a, p, p1, h1, li{
    margin: 0;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
}
main{
    display: flex;
    flex: 1;
    padding: 33px 34px 0 0;
    height:100vh;
}